body {
    margin: 0;
    background-image: url("officetoolsbg.jpg");
    background-size: cover;
    background-position: center;
}

/* Flex Divs */

#wholeFlex {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#userArea {
    display: flex;
    background-color: #313131;
    border-radius: 10px;
    opacity: 95%;
    flex-direction: column;
    flex: 1;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    padding: 80px 100px 50px 100px;
}

#resultArea{ 
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 74px 50px 50px 0px;
}

.methodsArea{
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}


/* Elements */

h1 {
   text-align: center;
   margin-top: 50px;
   text-shadow: 2px 2px 2px #2b2b2b;
   font-size: 69px;
}

.header {
    color: #f1c100;
    font-family: cursive;
    margin-bottom: 30px;
}


button {
    color: white;
}

.dropbtn {
    background-color: #c497ff;
    color: rgb(7, 0, 0);
    padding: 3px 20px 3px 20px;
    font-size: 16px;
    border: 2px;
    border-color: #f1c100;
    border-style: solid;
  }
  
.dropdown {
    align-self: baseline;
    position: relative;
    font-family: arial;
    font-style: bold;
    display: inline-block;
    margin-bottom: 40px;
  }
  
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdownContent a:hover {
    background-color: #c497ff;
}
  
.dropdown:hover .dropdownContent {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #f2f6f7;
}

.btnTools {
    background-color: #004aad;
    width: 225px;
    height: 40px;
    margin: 5px;
}

.textA {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.textB {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.textC {
    color: rgb(0, 0, 0);
    font-size: large;
    text-align: center;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px #fcf8f8;
}

.btnMethod {
    background-color: #2b2b2b;
    width: 170px;
    padding: 5px;
    margin: 5px 5px 5px 0px;
}

#resultText{
    margin-bottom: 30px;
}
#rngResult {
    color: rgb(23, 255, 23);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#dpcDiv{
    background-color: red;
}
